*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-div{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: row;
    gap: 5rem;

}
.form-group-2{
        border: 2px solid rgba(0, 0, 0, 0.219);
        margin-top: 50px;
        padding: 2%;
         width: 70%;
         height: 80%;
         display: grid;
         grid-template-rows: 20% 20% 20% 20%;
         grid-template-columns:auto auto auto ;
         background-color: rgb(255, 255, 255); 
         gap:5px;  
 }
 .form-group-1{
    margin-top: 50px;
    border: 2px solid rgba(0, 0, 0, 0.219);
     width: 25%;
     height: 80%;
     display: grid;
     grid-template-rows: 20% 20% 20% 20%;
     background-color: rgb(255, 255, 255);
     margin-left: 0px;
 }
 .col1{
    grid-column: 1/2;
 }
 .col2{
    grid-column: 2/4;
 }
 .col3{
    grid-column: 1/2;
 }
 .col6{
    grid-column: 1/4;
 }
 .col7{
    grid-column: 1/4;
 }
 .col8{
    grid-column: 1/4;
 }
 .Button-group{
    grid-column: 3;
    gap:10px;
    height: 5vh;
 }
.profile-pic-div{
    height: 150px;
    width: 150px;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    top:0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* background: rgba(0, 0, 0, 0.7); */
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
.view-Profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Background-image{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-image: url("download.jpg");
    background-size: cover;
}
.Profile-toggle{
    display: grid;
    grid-template-rows: 10% 10% 10%;
}
.Input-Headers{
    display: grid;
    grid-template-rows: 20% 20%;
}
.Name-Set{
    display: flex;
    text-align: center;
    flex-direction: column;
    
}
#Name-input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Designation-input{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.Mandatory{
    color: red;
}
.Error-field{
    font-size:10px;
    color: red;
    white-space: nowrap;
}
.Header{
    white-space:nowrap;
}
@media only screen and (min-width:1024px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .main-div{
        height: 100vh;
        display: flex;
        background-color: white;
        flex-direction: row;
        gap:2rem;
    }
    .form-group-2{
            border: 2px solid rgba(0, 0, 0, 0.219);
            margin-top: 50px;
            padding-left: 5%;
             width: 70%;
             height: 80%;
             display: grid;
             grid-template-rows: 20% 20% 20% 20%;
             grid-template-columns:auto auto auto ;
             background-color: rgb(255, 255, 255); 
             gap:5px;  
     }
     .form-group-1{
        margin-left: 5rem;
        margin-top: 50px;
        border: 2px solid rgba(0, 0, 0, 0.219);
         width: 25%;
         height: 80%;
         display: grid;
         grid-template-rows: 20% 20% 20% 20%;
         background-color: rgb(255, 255, 255);
         transform: translate(-20%,0%);
     }
     .col1{
        grid-column: 1/2;
     }
     .col2{
        grid-column: 2/4;
     }
     .col3{
        grid-column: 1/2;
     }
     .col6{
        grid-column: 1/4;
     }
     .col7{
        grid-column: 1/4;
     }
     .col8{
        grid-column: 1/4;
     }
     .Button-group{
        grid-column: 3;
        gap:10px;
        height: 5vh;
     }
    .profile-pic-div{
        height: 150px;
        width: 150px;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid grey;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #photo{
        height: 100%;
        width: 100%;
    }
    
    #file{
        display: none;
    }
    
    #uploadBtn{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top:0%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* background: rgba(0, 0, 0, 0.7); */
        color: wheat;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 15px;
        cursor: pointer;
        display: none;
    }
    .view-Profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Background-image{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-image: url("download.jpg");
        background-position: center;
    }
    .Profile-toggle{
        display: grid;
        grid-template-rows: 10% 10% 10%;
    }
    .Input-Headers{
        display: grid;
        grid-template-rows: 20% 20%;
    }
    .Name-Set{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Mandatory{
        color: red;
    }
    .Error-field{
        font-size:10px;
        color: red;
        white-space: nowrap;
    }
    .Header{
        white-space:nowrap;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .main-div{
        height: 100vh;
        display: flex;
        background-color: white;
        flex-direction: row;
        gap:2rem;
    }
    .form-group-2{
            border: 2px solid rgba(0, 0, 0, 0.219);
            margin-top: 50px;
            padding-left: 5%;
             width: 70%;
             height: 80%;
             display: grid;
             grid-template-rows: 20% 20% 20% 20%;
             grid-template-columns:auto auto auto ;
             background-color: rgb(255, 255, 255); 
             gap:5px;  
     }
     .form-group-1{
        margin-left: 5rem;
        margin-top: 50px;
        border: 2px solid rgba(0, 0, 0, 0.219);
         width: 25%;
         height: 80%;
         display: grid;
         grid-template-rows: 20% 20% 20% 20%;
         background-color: rgb(255, 255, 255);
         transform: translate(-20%,0%);
     }
     .col1{
        grid-column: 1/2;
     }
     .col2{
        grid-column: 2/4;
     }
     .col3{
        grid-column: 1/2;
     }
     .col6{
        grid-column: 1/4;
     }
     .col7{
        grid-column: 1/4;
     }
     .col8{
        grid-column: 1/4;
     }
     .Button-group{
        grid-column: 3;
        gap:10px;
        height: 5vh;
     }
    .profile-pic-div{
        height: 150px;
        width: 150px;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid grey;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #photo{
        height: 100%;
        width: 100%;
    }
    
    #file{
        display: none;
    }
    
    #uploadBtn{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top:0%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* background: rgba(0, 0, 0, 0.7); */
        color: wheat;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 15px;
        cursor: pointer;
        display: none;
    }
    .view-Profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Background-image{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-image: url("download.jpg");
        background-position: center;
    }
    .Profile-toggle{
        display: grid;
        grid-template-rows: 10% 10% 10%;
    }
    .Input-Headers{
        display: grid;
        grid-template-rows: 20% 20%;
    }
    .Name-Set{
        display: flex;
        justify-content: center;
        flex-direction: column;
        white-space: nowrap;
    }
    .Mandatory{
        color: red;
    }
    .Error-field{
        font-size:10px;
        color: red;
        white-space: nowrap;
    }
    .Header{
        white-space:nowrap;
    }
}
 @media only screen and (min-width:425px) and (max-width:767px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .main-div{
        height: 160vh;
        width: 100%;
        display: flex;
        background-color: white;
        flex-direction: column;
        gap: 2vh;
    }
    .form-group-2{
            border: 2px solid rgba(0, 0, 0, 0.219);
            padding-left: 5%;
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-rows: 10% 10% 10% 10%;
             grid-template-columns:auto auto auto auto auto auto ;
             background-color: rgb(255, 255, 255); 
             gap:5px;  
     }
     .form-group-1{
        margin-top: 50px;
        border: 2px solid rgba(0, 0, 0, 0.219);
         width: 100%;
         height: 30%;
         display: grid;
         grid-template-rows: 30% 30% 30% ;
         background-color: rgb(255, 255, 255);
     }
     .col1{
        grid-column: 1/8;
        
     }
     .col2{
        grid-column: 1/8;
     }
     .col3{
        grid-column: 1/8;
     }
     .col4{
        grid-column: 1/8;
     }
     .col5{
        grid-column: 1/8;
     }
     .col6{
        grid-column: 1/8;
     }
     .col7{
        grid-column: 1/8;
     }
     .col8{
        grid-column: 1/8;
     }
     .Button-group{
        grid-column: 6;
        gap:10px;
        height: 5vh;
     }
    .profile-pic-div{
        height: 110px;
        width: 110px;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid grey;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #photo{
        height: 100%;
        width: 100%;
    }
    
    #file{
        display: none;
    }
    
    #uploadBtn{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top:0%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* background: rgba(0, 0, 0, 0.7); */
        color: wheat;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 15px;
        cursor: pointer;
        display: none;
    }
    .view-Profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Background-image{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-image: url("download.jpg");
        background-repeat: no-repeat;
    }
    .Profile-toggle{
        display: grid;
        grid-template-rows: 10% 10% 10%;
    }
    .Input-Headers{
        display: grid;
        grid-template-rows: 20% 20%;
    }
    .Name-Set{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Mandatory{
        color: red;
    }
    .Error-field{
        font-size:10px;
        color: red;
        white-space: nowrap;
    }
    .Header{
        white-space:nowrap;
    }
 }
 @media only screen and (min-width:375px) and (max-width:424px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .main-div{
        height: 150vh;
        display: flex;
        background-color: white;
        flex-direction: column;
        gap:2vh;
    }
    .form-group-2{
            border: 2px solid rgba(0, 0, 0, 0.219);
            margin-top: 50px;
            padding-left: 5%;
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-rows: 10% 10% 10% 10%;
             grid-template-columns:auto auto auto ;
             background-color: rgb(255, 255, 255); 
             gap:5px;  
     }
     .form-group-1{
        margin-top: 50px;
        border: 2px solid rgba(0, 0, 0, 0.219);
         width: 100%;
         height: 30%;
         display: grid;
         grid-template-rows: 30% 30% 30%;
         background-color: rgb(255, 255, 255);
     }
     .col1{
        grid-column: 1/4;
        
     }
     .col2{
        grid-column: 1/4;
     }
     .col3{
        grid-column: 1/4;
     }
     .col4{
        grid-column: 1/4;
     }
     .col5{
        grid-column: 1/4;
     }
     .col6{
        grid-column: 1/4;
     }
     .col7{
        grid-column: 1/4;
     }
     .col8{
        grid-column: 1/4;
     }
     .Button-group{
        grid-column: 3;
        gap:10px;
        height: 5vh;
     }
    .profile-pic-div{
        height: 110px;
        width: 110px;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid grey;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #photo{
        height: 100%;
        width: 100%;
    }
    
    #file{
        display: none;
    }
    
    #uploadBtn{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top:0%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* background: rgba(0, 0, 0, 0.7); */
        color: wheat;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 15px;
        cursor: pointer;
        display: none;
    }
    .view-Profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Background-image{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-image: url("download.jpg");
        background-repeat: no-repeat;
    }
    .Profile-toggle{
        display: grid;
        grid-template-rows: 10% 10% 10%;
    }
    .Input-Headers{
        display: grid;
        grid-template-rows: 20% 20%;
    }
    .Name-Set{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Mandatory{
        color: red;
    }
    .Error-field{
        font-size:10px;
        color: red;
        white-space: nowrap;
    }
    .Header{
        white-space:nowrap;
    }
 }
 @media only screen and (max-width:374px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    .main-div{
        height: 150vh;
        display: flex;
        background-color: white;
        flex-direction: column;
        gap:2vh
    }
    .form-group-2{
            border: 2px solid rgba(0, 0, 0, 0.219);
            margin-top: 50px;
            padding-left: 5%;
             width: 100%;
             height: 100%;
             display: grid;
             grid-template-rows: 10% 10% 10% 10%;
             grid-template-columns:auto auto auto ;
             background-color: rgb(255, 255, 255); 
             gap:5px;  
     }
     .form-group-1{
        margin-top: 50px;
        border: 2px solid rgba(0, 0, 0, 0.219);
         width: 100%;
         height: 30%;
         display: grid;
         grid-template-rows: 30% 30% 30%;
         background-color: rgb(255, 255, 255);
     }
     .col1{
        grid-column: 1/4;
        
     }
     .col2{
        grid-column: 1/4;
     }
     .col3{
        grid-column: 1/4;
     }
     .col4{
        grid-column: 1/4;
     }
     .col5{
        grid-column: 1/4;
     }
     .col6{
        grid-column: 1/4;
     }
     .col7{
        grid-column: 1/4;
     }
     .col8{
        grid-column: 1/4;
     }
     .Button-group{
        grid-column: 3;
        gap:10px;
        height: 5vh;
     }
    .profile-pic-div{
        height: 80px;
        width: 80px;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid grey;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #photo{
        height: 100%;
        width: 100%;
    }
    
    #file{
        display: none;
    }
    
    #uploadBtn{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top:0%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        /* background: rgba(0, 0, 0, 0.7); */
        color: wheat;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 15px;
        cursor: pointer;
        display: none;
    }
    .view-Profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Background-image{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-image: url("download.jpg");
        background-repeat: no-repeat;
    }
    .Profile-toggle{
        display: grid;
        grid-template-rows: 10% 10% 10%;
    }
    .Input-Headers{
        display: grid;
        grid-template-rows: 20% 20%;
    }
    .Name-Set{
        display: flex;
        justify-content: center;
        flex-direction: column;
        white-space: nowrap;
    }
    .Mandatory{
        color: red;
    }
    .Error-field{
        font-size:8px;
        color: red;
        white-space: nowrap;
    }
    .Header{
        white-space:nowrap;
    }
 }